.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container ion-icon {
  font-size: 80px;
  margin-bottom: 20px;
}

.container h1 {
  font-size: 32px;
  font-weight: bold;
}

.container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}
