.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

ion-title {
  font-size: 24px;
  font-weight: bold;
}

/* Estilos de cada mascota */
.lista-container {
  padding: 15px;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 5px;
}

.editar {
  color: #f0c400;
  cursor: pointer;
}

.eliminar {
  color: #cc0000;
  cursor: pointer;
}
