<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Veterinaria Touka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="assets/img/miLogo.png" alt="Logo Veterinaria" style="width: 150px; margin-bottom: 20px;">
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="correo" type="email" required></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched)" class="error-message">
          <small *ngIf="loginForm.get('correo')?.errors?.['required']">El correo es requerido.</small>
          <small *ngIf="loginForm.get('correo')?.errors?.['email']">Ingrese un correo válido.</small>
        </div>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="pass" type="password" required></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('pass')?.invalid && (loginForm.get('pass')?.dirty || loginForm.get('pass')?.touched)" class="error-message">
          <small *ngIf="loginForm.get('pass')?.errors?.['required']">La contraseña es requerida.</small>
        </div>

        <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">
          Ingresar
        </ion-button>
      </form>

      <ion-button expand="block" fill="clear" (click)="irARegistro()">
        ¿No tienes cuenta? Regístrate
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
