<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mascotas de {{ usuarioNombre }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ng-container *ngIf="(pacientes | async) as resolvedPacientes">
    <div *ngIf="resolvedPacientes.length === 0" class="ion-text-center empty-state">
      <ion-icon name="paw-outline"></ion-icon>
      <p>Aún no tienes mascotas registradas.</p>
      <p>¡Agrega una para empezar!</p>
    </div>

    <ion-list *ngIf="resolvedPacientes.length > 0">
      <ion-item-sliding *ngFor="let mascota of resolvedPacientes">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="mascota.foto || 'assets/img/veterinaria.png'" />
          </ion-avatar>
          <ion-label>
            <h2>{{ mascota.nombre }}</h2>
            <p>{{ mascota.raza }} - {{ mascota.edad }} años</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarMascota()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
